// #msform {
// 	width: 400px;
// 	margin: 50px auto;
// 	text-align: center;
// 	position: relative;
// }
.meeting-form {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}